body{
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	overflow-x: hidden;
}
.footer{border-top: 1px solid #e73068;bottom: 0;}
.btn .btn-slide-bar{width: 44px;height: 44px;cursor: pointer;line-height: 2.8;position: absolute;right: 0px;top: 5px;}
.btn .btn-slide-bar::before{content: "";width: 20px;height: 2px;background-color: #999;display: inline-block;box-shadow: 0 7px 0 #999, 0 -7px 0 #999;}
.wraper-page{position: absolute;top:44px;right: 0;bottom: 44px;left: 0;overflow: hidden;}
.slide-bar{position: fixed;background-color: #08c;width: 80%;left: 0;z-index: 2;height: 100%;top: 0;
	transform: translate3d(-100%,0,0); overflow-y: scroll;}
.slide-bar::-webkit-scrollbar{
	display: none;
}