main .main_con .right ul:first-of-type li:nth-of-type(2) .item-con,main .main_con .right ul:first-of-type li:nth-of-type(3) .item-con{
    width: 100%;
}
main .main_con .right .pag li:nth-of-type(2){
    display: inline-block;
    background: #f4f4f5;
    color: #7a8ba6;
 }
 main .main_con .right .pag li:hover{
    background: #00229e;
    color: #fff ;
}
main .main_con .right .pag li:nth-of-type(5){
    background: #08c;
}
main .main_con .right .pag li:nth-of-type(5) a{
    background: #08c;
    color: #fff;
}
main .main_con .right .pag li:nth-of-type(3){
    background: #f4f4f5;
}
main .main_con .right .pag li:nth-of-type(3):hover{
    background: #08c;
}
main .main_con .right .pag li:nth-of-type(3):hover a{
    color: #fff;
}
main .main_con .right .pag li:nth-of-type(3) a{
    color: #7a8ba6;
}
main .main_con .right .pag li:nth-of-type(6){
    display: none;
}
main .main_con .right .pag li:last-of-type{
    right: 267px;
}

@media screen and (max-width:767px){
    main .main_con .right ul:first-of-type li:nth-of-type(2) .item-con .text,main .main_con .right ul:first-of-type li:nth-of-type(3) .item-con .text{
        display: block;
    }
   footer{
       position: fixed;
   }
}
@media screen and (max-width:1239px){
    main .main_con .right .pag li:last-of-type{
        right: 23%;
    } 
}